:root {
    --main-color: #097ae9;
    --main-rgb-color: 9, 122, 233;
    --dark-color: #000;
    --dark-rgb-color: 0, 0, 0;
}

body {
    font-size: 16px;
    background-color: whitesmoke;
    font-family: "Syne", "Changa", sans-serif;
}

a,
a:hover {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
}

.bx {
    vertical-align: -1px;
    font-size: inherit;
}

.btn-dark:hover {
    background-color: transparent;
    color: var(--dark-color);
    border-color: var(--dark-color)
}

.topbar {
    color: white;
    padding: 8px 0;
    background-color: var(--main-color);
}

.navbar {
    background-color: white;
    --bs-navbar-nav-link-padding-x: 16px;
    --bs-navbar-brand-padding-y: 24px;
}

.navbar .navbar-brand {
    font-size: 24px;
    font-weight: 600;
}

.navbar .nav-link {
    font-size: 16px;
    font-weight: 600;
    position: relative;
}

/* Larg Screen */
@media (min-width: 992px) {
    .navbar .nav-link::after {
        position: absolute;
        content: '';
        width: 0;
        height: 2px;
        background-color: var(--dark-color);
        right: 0;
        left: 16px;
        bottom: -2px;
        transition: 0.3s ease;
    }

    .navbar .nav-link.active::after,
    .navbar .nav-link:hover::after {
        width: 35%;
    }
}

/* Tablet Screen Device */
@media (max-width: 992px) {
    .navbar .nav-link {
        padding-left: 8px;
        padding-right: 8px;
    }

    .navbar .nav-link::before {
        content: '';
        width: 0;
        height: 2px;
        background-color: var(--dark-color);
        transition: 0.3s ease;
        display: inline-block;
        vertical-align: middle;
        margin-right: 12px;
    }

    .navbar .nav-link.active::before,
    .navbar .nav-link:hover::before {
        width: 45px;
    }
}