:root {
    --main-color: #097ae9;
    --main-rgb-color: 9 122 233;
    --dark-color: #000;
    --dark-rgb-color: 0 0 0;
}

body {
    font-size: 16px;
    background-color: whitesmoke;
    font-family: "Syne", "Changa", sans-serif;
}

a,
a:hover {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
}

.bx {
    vertical-align: -1px;
    font-size: inherit;
}

.btn-dark:hover {
    background-color: transparent;
    color: var(--dark-color);
    border-color: var(--dark-color);
}

.topbar {
    color: white;
    padding: 8px 0;
    background-color: var(--main-color);
}

.navbar {
    background-color: white;
    --bs-navbar-nav-link-padding-x: 16px;
    --bs-navbar-brand-padding-y: 24px;
}

.navbar .navbar-brand {
    font-size: 24px;
    font-weight: 600;
}

.navbar .nav-link {
    font-size: 16px;
    font-weight: 600;
    position: relative;
}

/* Large Screen */
@media (min-width: 992px) {
    .navbar .nav-link::after {
        position: absolute;
        content: '';
        width: 0;
        height: 2px;
        background-color: var(--dark-color);
        right: 0;
        left: 16px;
        bottom: -2px;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
    }

    .navbar .nav-link.active::after,
    .navbar .nav-link:hover::after {
        width: 35%;
    }
}

/* Tablet Screen Device */
@media (max-width: 992px) {
    .navbar .nav-link {
        padding-left: 8px;
        padding-right: 8px;
    }

    .navbar .nav-link::before {
        content: '';
        width: 0;
        height: 2px;
        background-color: var(--dark-color);
        display: inline-block;
        vertical-align: middle;
        margin-right: 12px;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
    }

    .navbar .nav-link.active::before,
    .navbar .nav-link:hover::before {
        width: 45px;
    }
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

.carousel-item::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(var(--dark-rgb-color) / 50%);
    left: 0;
    top: 0;
    z-index: 2;
}

@media (min-width: 992px) {
    .carousel-caption {
        top: 50%;
        left: 10%;
        right: auto;
        text-align: left;
        width: 45%;
        z-index: 3;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .carousel-caption h5 {
        font-size: 22px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #ffb703;
        font-weight: 700;
    }

    .carousel-caption h3 {
        font-size: 52px;
        font-weight: bold;
        margin: 18px 0;
    }

    .carousel-caption h3 span {
        font-size: 52px;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px white;
    }

    .carousel-caption p {
        font-size: 18px;
        line-height: 30px;
    }

    .map-box {
        position: absolute;
        top: 32px;
        right: 30px;
        background-color: white;
        z-index: 2;
        border-radius: 32px;
        overflow: hidden;
        width: 500px;
        height: 480px;
        padding: 21px;
    }

    .carousel>img {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        -webkit-animation: float-left-right 2s ease-in-out infinite alternate;
        animation: float-left-right 2s ease-in-out infinite alternate;
    }
}


/* Animation Keyframes */
@-webkit-keyframes float-left-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }
}

@keyframes float-left-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }
}

@media (max-width: 576px) {
    .carousel-caption {
        position: relative;
        color: white;
        z-index: 3;
        text-align: center;
        width: 100%;
        left: 0;
        right: 0;
    }

    .carousel-caption h5 {
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #ffb703;
        font-weight: 700;
        font-size: 15px;
    }

    .carousel-caption h3 {
        font-weight: bold;
    }

    .carousel-caption p {
        font-size: 13px;
        opacity: .65;
    }

    .carousel-item>img {
        position: absolute;
        left: 0;
    }

    .carousel-caption {
        position: relative;
        color: white;
        z-index: 3;
        text-align: center;
        width: 90%;
        left: 0;
        right: 0;
        margin: 24px auto 0;
    }

    .carousel-item>img {
        position: absolute;
        left: 0;
    }

    .map-box {
        width: 85%;
        margin: 0 auto;
        margin-top: -32px;
        z-index: 9;
        position: relative;
        border-radius: 8px;
        overflow: hidden;
    }

}